use flake .

export MIKANOS_WORKSPACE="$PWD"
export OSBOOK="$MIKANOS_WORKSPACE/osbook"
export MIKANOS_DIR="$MIKANOS_WORKSPACE/mikanos"
export EDK2DIR="$MIKANOS_WORKSPACE/edk2"

if [ -f "$OSBOOK/devenv/buildenv.sh" ] && [ -d "$OSBOOK/devenv/x86_64-elf" ]; then
  source "$OSBOOK/devenv/buildenv.sh" \
    BASEDIR="$OSBOOK/devenv/x86_64-elf" \
    EDK2DIR="$EDK2DIR"
fi
